/* 自分に合ったセキュリティソフト　のためのstylesheet */

/* ブラウザが勝手につける余白のリセット */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  padding-top: 90px;
}

/* 箇条書きの点を消している */
li {
  list-style: none;
}


header {
  top:0px;
  background-color: #20b2aa;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  /*要素が重なるときに使うもの*/
  /*z-index: 99;*/
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  /* 余白の大きさを指定（上、右、下、左）） */
  padding: 20px 40px 20px 40px;
}
/*
.header-list a {
  float: right;
  padding: 15px;
  color: #000000;
  text-decoration: none;
}
*/

.header-nav {
  text-align: center;
}

.header-nav-menu {
  margin: 0 auto;
  padding: 5%;
  display: inline-block;
}

.header-nav-menu-item {
  text-align: center;
  display: inline-block;
  width: 47%; /* ここで項目の幅を指定 */
  font-weight: bold;
}

.header-nav-menu-item a {
    text-decoration: none;
    color: #333;
}

.header-nav-menu-item a:hover{
    border-bottom: 2px solid #FF7A37; /* 下線の太さや色を指定します */
}

.main-description {
  max-width: 620px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.main {
  max-width: 620px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
  /*blue*/
  /*background-color: #c2eeff;*/
  /*gray*/
  background-color: #e6e6fa;
}

.main-question p {
  text-align: center;
}

.main-question ul {
  background: #f1f1f1;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-question ul li {
  margin-bottom: 10px;
}

.main-question ul li:last-child {
  margin-bottom: 0;
}

.main-question ul li span {
  display: inline-block;
  width: 350px;
}

.main-question button {
  background: #000080;
  width: 120px;
  display: block;
  margin: 20px auto 30px;
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 2px 4px #575;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.main-question button:hover {
  box-shadow: 0px 4px 8px #575;
}

.result {
  background: #f5f5f5;
  text-align: center;
  padding: 20px;
  border: 3px solid #000000;
  box-sizing: border-box;
  margin: 0 auto;
  display: none;
}

.result h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.result h2 strong {
  font-size: 24px;
}

.result p {
  text-align: justify;
}

img {
  height: 300px;
  weight: 300px;
}

.buttons_parent {
  text-align: center;
  font-weight: bold;
}

.button_1 {
  display: inline-block;
  margin: 10px;
  padding: 16px 24px;
  text-decoration: none;
  border: 1px;
  background: #5e5;;
  color: #fff;
  box-shadow: 0px 2px 4px #575;
  transition: box-shadow .3s;
}

.button_1:hover {
  box-shadow: 0px 4px 8px #575;
}

.footer {
  /*green*/
  /*background-color: #43ff6b;*/
  /*blue*/
  /*background-color: #ceccf3;*/
  background-color: #20b2aa;
  color: #ffffff;
  height: 70px;
  text-align: center;
  padding: 50px;
}
