/* 自分に合ったセキュリティソフト　のためのstylesheet */
body {
  font-family: "Avenir Next";
  padding-top: 110px;
}

/* 箇条書きの点を消している */
li {
  list-style: none;
}

.header {
  background-color: #43ff6b;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  /* 余白の大きさを指定（上、右、下、左）） */
  padding: 20px 40px 20px 40px;
}
/*
.header-list a {
  float: right;
  padding: 15px;
  color: #000000;
  text-decoration: none;
}
*/

.header-list a {
  color: #000000;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header-list a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header-list a:hover::after {
  transform: scale(1, 1);
}

.main-description {
  max-width: 620px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.main {
  max-width: 620px;
  margin: 0 auto;
  padding: 30px 20px;
  box-sizing: border-box;
}

.main-question p {
  text-align: center;
}

.main-question ul {
  background: #f1f1f1;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-question ul li {
  margin-bottom: 10px;
}

.main-question ul li:last-child {
  margin-bottom: 0;
}

.main-question ul li span {
  display: inline-block;
  width: 350px;
}



.main-question button {
  background: #000080;
  width: 120px;
  display: block;
  margin: 20px auto 30px;
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  text-align: center;
  padding: 20px;
  border: 3px solid #00ffff;
  box-sizing: border-box;
  margin: 0 auto;
  display: none;
}

.result h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.result h2 strong {
  font-size: 24px;
}

.result p {
  text-align: justify;
}

img {
  height: 300px;
  weight: 300px;
}

.footer {
  background-color: #43ff6b;
  height: 70px;
  text-align: center;
  padding: 50px;
}
